:root {
    --bg: #e6e1d3;
    --red: #e1492e;
    --black: #000000;
    --blue: #97adc5;
    --yellow: #fcab24;
    --green: #0D4B26;
}
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Helvetica', Arial, sans-serif;
}

.poster {
    position: relative;
    width: 280px;
    height: 400px;
    background-color: var(--bg);
    overflow: hidden; /* Wichtig: Schneidet alles ab, was über den Rand ragt */
    
}


.text-grid {
 
}
  
<!--.grid-overlay {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(39, 1fr); /* 40 Spalten */
    grid-template-rows: repeat(10, 1fr);
    z-index: 100; /* Liegt über den Farben, aber unter dem Text */
    pointer-events: none;
}
.dot {
    position:absolute;
    top: 90px; left: 75px; right: 0%; bottom: 0%;
    width: 150px;
    height: 150px;
    background-color: var(--green);
    border-radius: 50%;
    z-index: 100;

    

}
.vertical-line {
    display: inline-block;
    width: 5px;
    height: 55%;
    background-color: var(--black);
    position: absolute;
    z-index: 50;
    
}
.line-container {
    top: 50px;       /* Präziser Abstand von oben */
    left: 70px;      /* Präziser Abstand von links */
    width: 240px;    /* Breite des gesamten Mustefelds */
    height: 500px;   /* Höhe des Mustefelds */
    display: absolute;
    justify-content: space-between; /* Verteilt die Linien mit exakt gleichem Abstand */
    align-items: stretch;           /* Die Linien nutzen die volle Höhe des Containers */
}


/* Die vertikale Linie */
.vertical-line {
  position: absolute;
  top: 50px;           /* Abstand von oben */
  width: 5px;          /* Die Dicke der Linie */
  height: 55%;       /* Die Länge der Linie */
  background-color: #000; /* Schwarz nach Bauhaus-Palette */
  
  /* Box-Modell Korrektur */
  padding: 0;
  margin: 5px;
  border: none;
}
.text-footer {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 500px;
    text-align: left;
}

.main-title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px; /* Bauhaus-Typo-Stil */
    margin-bottom: 15px;
}

.sub-title {
    font-size: 16px;
    color: #333;
}